In [1]:
import json
import pandas as pd

In [2]:
with open('data.json', 'r') as file:
    data = file.read().replace('\n','')
data

'[    {        "name":"material1",        "family":{            "id":1,            "name":"family1"        },        "details":{            "masse_surfacique":10,            "masse_combustible":9        }    },    {        "name":"material2",        "family":{            "id":1,            "name":"family1"        },        "details":{            "masse_surfacique":13,            "masse_combustible":13        }    },    {        "name":"material3",        "family":{            "id":1,            "name":"family1"        },        "details":{            "masse_surfacique":8,            "masse_combustible":8        }    },    {        "name":"material4",        "family":{            "id":2,            "name":"family2"        },        "details":{            "masse_surfacique":11,            "masse_combustible":10        }    },    {        "name":"material5",        "family":{            "id":2,            "name":"family2"        },        "details":{            "masse_surfacique":4,            "masse_combustible":3        }    },    {        "name":"material6",        "family":{            "id":3,            "name":"family3"        },        "details":{            "masse_surfacique":10,            "masse_combustible":9        }    }]'

In [3]:
MATERIALS = json.loads(data)
MATERIALS

[{'name': 'material1',
  'family': {'id': 1, 'name': 'family1'},
  'details': {'masse_surfacique': 10, 'masse_combustible': 9}},
 {'name': 'material2',
  'family': {'id': 1, 'name': 'family1'},
  'details': {'masse_surfacique': 13, 'masse_combustible': 13}},
 {'name': 'material3',
  'family': {'id': 1, 'name': 'family1'},
  'details': {'masse_surfacique': 8, 'masse_combustible': 8}},
 {'name': 'material4',
  'family': {'id': 2, 'name': 'family2'},
  'details': {'masse_surfacique': 11, 'masse_combustible': 10}},
 {'name': 'material5',
  'family': {'id': 2, 'name': 'family2'},
  'details': {'masse_surfacique': 4, 'masse_combustible': 3}},
 {'name': 'material6',
  'family': {'id': 3, 'name': 'family3'},
  'details': {'masse_surfacique': 10, 'masse_combustible': 9}}]

In [4]:
MATERIALS = pd.json_normalize(MATERIALS)

In [5]:
MATERIALS

,name,family.id,family.name,details.masse_surfacique,details.masse_combustible
0,material1,1,family1,10,9
1,material2,1,family1,13,13
2,material3,1,family1,8,8
3,material4,2,family2,11,10
4,material5,2,family2,4,3
5,material6,3,family3,10,9

In [7]:
temp = MATERIALS.groupby('family.name').count()
temp

,name,family.id,details.masse_surfacique,details.masse_combustible
family.name,,,,
family1,3,3,3,3
family2,2,2,2,2
family3,1,1,1,1

In [8]:
MATERIALS.groupby('family.name').max('details.masse_surfacique')

             family.id  details.masse_surfacique  details.masse_combustible
family.name
family1              1                        13                         13
family2              2                        11                         10
family3              3                        10                          9

In [16]:

output['nb_materials'] = MATERIALS.groupby('family.name').count()['name']
output['min_ms'] = MATERIALS.groupby('family.name').min('details.masse_surfacique')['details.masse_surfacique']
output['max_ms'] = MATERIALS.groupby('family.name').max('details.masse_surfacique')['details.masse_surfacique']
output

             nb_materials  min_ms  max_ms
family.name
family1                 3       8      13
family2                 2       4      11
family3                 1      10      10

In [23]:
output.reset_index(inplace=True)

In [25]:
output

  family.name  nb_materials  min_ms  max_ms
0     family1             3       8      13
1     family2             2       4      11
2     family3             1      10      10

In [31]:
output.to_json(orient='records')

'[{"family.name":"family1","nb_materials":3,"min_ms":8,"max_ms":13},{"family.name":"family2","nb_materials":2,"min_ms":4,"max_ms":11},{"family.name":"family3","nb_materials":1,"min_ms":10,"max_ms":10}]'

In [34]:
print(output.to_json(orient='records'))

[{"family.name":"family1","nb_materials":3,"min_ms":8,"max_ms":13},{"family.name":"family2","nb_materials":2,"min_ms":4,"max_ms":11},{"family.name":"family3","nb_materials":1,"min_ms":10,"max_ms":10}]